
<h1><%= @post.title %></h1>
<p><small><%= post_meta @post %></small></p>

<%= @post.details %>
<p>Total entries for Posts: <%= Post.total  %></p>
<%= simple_format @post.body %>

<%= render partial: "view_form", locals: { post: @post } %>

